playground*.ipynb
/paper (don't open in VS code)

.DS_Store

*.egg-info

__pycache__

/data

/logs

*.ckpt

*.pth
*.ckpt

.obsidian

assets/videos_phoenix
*.task

notebooks/

output/

*.mp4
*.MP4
*.npy
*.txt
*_temp
*.json
assets/BIN/demo_blur
mediapipe_skeleton_test/
*_logs/
wandb/