playground*.ipynb
/paper (don't open in VS code)

.DS_Store

*.egg-info

__pycache__

/data

/logs

*.ckpt

*.pth
*.ckpt

.obsidian

assets/videos_phoenix
*.task

notebooks/

output/

*.mp4
*.npy
*.txt
*_temp
*.json
src/BIN/data/
src/BIN/demo_blur/
assets/BIN/
mediapipe_skeleton_test/